# Bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
venv/

# Logs & temporary files
*.log
*.tmp
*.bak

# Output folders
tor_uploads/
~/tor_uploads/

# IDE/editor metadata
.vscode/
.idea/

# Test & linting tools
.pytest_cache/
.mypy_cache/
.cache/
.ruff_cache/
